<div>
<h4>
 <%= link_to "Post ##{post.id }", "/users/#{@user.id}/posts/#{post.id}" %>
 </h4>
      <p> <%= post.title %> </p>
      <p><span>comments: <%=post.CommentsCounter%> </span>
       <span>Likes: <%=post.LikesCounter%> </span>
       </p>
</div>