<h1>List User<h1/>
<%= render 'shared/user', user:@user%>
 <div>
   <% @posts.each do |post| %>

      <%= render 'shared/post', post:post %>

     <% if  !post.five_most_recent_comments.empty?%>
         <div >
     <%post.five_most_recent_comments.each do |comment| %>
          <%= render 'shared/comment', comment:comment %>
       <% end %>
        </div>
     <% end %>
   <% end %>
  </div>
<div >
<button>Pagination</button>
<button><%= link_to 'Back', :back %></button>
</div>